@page "/OpenAdminPolygons"

<PageTitle>Open Admin Polygons</PageTitle>

@using OsmNightWatch.Web.Data
@using OsmNightWatch.Lib
@inject IssuesDataService IssuesDataService

@if (issuesData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Grouped by day</th>
                <th>OSM link</th>
                <th>First time seen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var issuesByDay in issuesData.AllIssues.Where(issue => issue.IssueType == "OpenAdminPolygon").GroupBy(i => i.FirstTimeSeen.Value.Date).OrderByDescending(ig => ig.Key))
            {
                <tr>
                    <td>@issuesByDay.Key.ToString("yyyy-MM-dd  -  dddd")</td>
                    <td></td>
                    <td></td>
                </tr>
                foreach (var issue in issuesByDay.OrderByDescending(i => i.FirstTimeSeen).ThenBy(i => i.OsmType).ThenBy(i => i.OsmId))
                {
                    <tr>
                        <td></td>
                        <td><a href="https://www.openstreetmap.org/@issue.OsmType/@issue.OsmId" target="_blank">@issue.OsmType @issue.OsmId</a></td>
                        <th>@issue.FirstTimeSeen!.Value.ToString("yyyy-MM-dd hh:mm:ss")</th>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private IssuesData? issuesData;

    protected override async Task OnInitializedAsync()
    {
        issuesData = await IssuesDataService.GetIssuesDataAsync();
    }
}
