@page "/About"

<PageTitle>About OSM NightWatch</PageTitle>

<h1>About OSM NightWatch</h1>

<p>First version of OSM NighWatch was built as part of one week hackathon at Microsoft by <a href="https://github.com/Mijova">Milica Jovanović</a> and <a href="https://github.com/DavidKarlas">David Karlaš</a>. The idea was to build a tool which will allow us to fix all broken coastlines, country and administrative relations.</p>
<p>Main idea that differentiates if from Osmose, Geofabrick Inspector, Keep Right and other validation/QA tools is that it updates minutely and with goal that number of problems most of time is at 0 issues. Making it more satasifying process.</p>

